.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 200px 100px;
    width: 90%;
    margin: auto;
    justify-content:center;
    align-items: stretch;
    gap: 10px;
    background-color: rgb(207, 205, 205);
    background: repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 0px,
        rgba(0, 0, 0, 0.1) 2px,
        transparent 2px,
        transparent 80px
      );  
    grid-template-areas: 
        "header header "
        "menu main"
        "footer footer";
}

.item-a {
  grid-area: header;
  background-color: #d4a373;
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items:center;
  justify-content: center;
  border: 2px solid black;
  padding: 15px;
  
}

.item-b {
  grid-area: menu;
  background-color: #4caf50;
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  margin-right: -20px;
}

.item-c {
  grid-area: main;
  background-color: #673ab7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid black;
  padding: 20px;
  margin-left: -20px;


}

.item-d {
  grid-area: footer;
  background-color: #e57373;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid black;
  padding: 15px;

}
